<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/cssFiles/orders.css">
    <title>View Orders</title>
  </head>
  <body>
    <h1>orders</h1>
  </body>
</html>
